<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageName}.mapper.${ClassName}Mapper">

    <resultMap id="BaseResultMap" type="java.util.Map">
        #foreach ($column in $columns)
            <result property="${column.javaField}" column="${column.columnName}"/>
        #end
        #if($table.tree)
            <result property="parentName" column="parent_name"/>
        #end
    </resultMap>

    <sql id="Base_Column_List">
        rownum as rw,
            #foreach($column in $columns)
                $column.columnName,
                #if($foreach.count != $columns.size())#end
            #end
    </sql>

    <sql id="Base_Query_Condition">
        <where>
            #foreach($column in $columns)
                #set($queryType=$column.queryType)
                #set($javaField=$column.javaField)
                #set($javaType=$column.javaType)
                #set($columnName=$column.columnName)
                #set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
                #if($column.query)
                    #if($column.queryType == "EQ")
                        <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end">
                            and $columnName = #{$javaField}
                        </if>
                    #elseif($queryType == "NE")
                        <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end">
                            and $columnName != #{$javaField}
                        </if>
                    #elseif($queryType == "GT")
                        <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end">
                            and $columnName &gt; #{$javaField}
                        </if>
                    #elseif($queryType == "GTE")
                        <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end">
                            and $columnName &gt;= #{$javaField}
                        </if>
                    #elseif($queryType == "LT")
                        <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end">
                            and $columnName &lt; #{$javaField}
                        </if>
                    #elseif($queryType == "LTE")
                        <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end">
                            and $columnName &lt;= #{$javaField}
                        </if>
                    #elseif($queryType == "LIKE")
                        <if test="$javaField != null #if($javaType == 'String' ) and $javaField.trim() != ''#end">
                            and $columnName like concat('%', #{$javaField}, '%')
                        </if>
                    #elseif($queryType == "BETWEEN")
                        <if test="params.begin$AttrName != null and params.begin$AttrName != '' and params.end$AttrName != null and params.end$AttrName != ''">
                            and $columnName between #{params.begin$AttrName} and #{params.end$AttrName}
                        </if>
                    #end
                #end
            #end
        </where>
</sql>

    <sql id="Oracle_Pagination_Head">
        <if test="pageStart !=null and pageEnd !=null">
            <![CDATA[select y.* from(select z.*,rownum as pageStart from (]]>
        </if>
    </sql>

    <sql id="Oracle_Pagination_Tail">
        <if test="pageStart != null and pageEnd != null">
            <![CDATA[ ) z where rownum <= #{pageEnd} ) y where y.pageStart > #{pageStart} ]]>
        </if>
    </sql>

    <select id="queryPage" resultMap="BaseResultMap" parameterType="java.util.Map">
        <include refid="Oracle_Pagination_Head"/>
        select
        <include refid="Base_Column_List"/>
        from ${tableName}
        <include refid="Base_Query_Condition"/>
        <include refid="Oracle_Pagination_Tail"/>

    </select>

    <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from ${tableName}
        <include refid="Base_Query_Condition"/>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from ${tableName}
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from ${tableName} where id = #{id,jdbcType=VARCHAR}
    </delete>


    <delete id="deleteByMap" parameterType="java.util.Map">
        delete from ${tableName}
        <include refid="Base_Query_Condition"/>
    </delete>

    <insert id="insert" parameterType="java.util.Map">
        insert into ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #foreach($column in $columns)
                #if($column.columnName != $pkColumn.columnName || !$pkColumn.increment)
                    <if test="$column.javaField != null#if($column.javaType ==
                        'String' && $column.required) and $column.javaField != ''#end">
                        $column.columnName,
                    </if>
                #end
            #end
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #foreach($column in $columns)
                #if($column.columnName != $pkColumn.columnName || !$pkColumn.increment)
                    <if test="$column.javaField != null#if($column.javaType ==
                        'String' && $column.required) and $column.javaField != ''#end">
                    #{$column.javaField},
                    </if>
                #end
            #end
        </trim>
    </insert>


    <update id="update" parameterType="java.util.Map">
        update ${tableName}
        <trim prefix="SET" suffixOverrides=",">
            #foreach($column in $columns)
                #if($column.columnName != $pkColumn.columnName)
                    <if test="$column.javaField != null#if($column.javaType ==
                        'String' && $column.required) and $column.javaField != ''#end">
                        $column.columnName =#{$column.javaField},
                    </if>
                #end
            #end
        </trim>
        where ${pkColumn.columnName} = #{${pkColumn.javaField}}
    </update>


    <select id="getAll" resultMap="BaseResultMap">
        select * from ${tableName}
        <include refid="Base_Query_Condition"/>
    </select>

    <select id="getOne" parameterType="java.util.Map" resultType="java.util.Map">
        select * from ${tableName}
        <include refid="Base_Query_Condition"/>
    </select>


    <insert id="insertBatch" parameterType="java.util.Map">
        INSERT INTO ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #foreach($column in $columns)
                #if($column.columnName != $pkColumn.columnName || !$pkColumn.increment)
                    <if test="$column.javaField != null#if($column.javaType ==
                        'String' && $column.required) and $column.javaField != ''#end">
                        $column.columnName,
                    </if>
                #end
            #end
        </trim>
        VALUES
        <foreach collection="list" item="item" index="index" open="begin" separator=";" close=";end;">

            <trim prefix="(" suffix=")" suffixOverrides=",">
                #foreach($column in $columns)
                    #if($column.columnName != $pkColumn.columnName || !$pkColumn.increment)
                        <if test="$column.javaField != null#if($column.javaType ==
                            'String' && $column.required) and $column.javaField != ''#end">
                            #{$column.javaField},
                        </if>
                    #end
                #end
            </trim>

        </foreach>

    </insert>

    <delete id="deleteBatch" parameterType="java.util.List">
        delete from ${tableName}
        <where>
            <foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
                id = #{item.id,jdbcType=VARCHAR}
            </foreach>
        </where>
    </delete>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" separator=";" close=";end;">
            UPDATE ${tableName}
            <trim prefix="SET" suffixOverrides=",">
                #foreach($column in $columns)
                    #if($column.columnName != $pkColumn.columnName)
                        <if test="$column.javaField != null#if($column.javaType ==
                            'String' && $column.required) and $column.javaField != ''#end">
                            $column.columnName = #{$column.javaField},
                        </if>
                    #end
                #end
            </trim>
            WHERE   id = #{item.id,jdbcType=VARCHAR}
        </foreach>
    </update>


</mapper>

